.modal-container {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    top: 20vh;
    left: 5%;
    position: fixed;
    font-size: 1.4rem;
    z-index: 5;
}

.modal-header {
    padding: 1rem;
    color: white;
}

.modal-content-children {
    padding: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index:4
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 50rem)/2);
    }
}